{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <h3>Headers</h3><div>{{request.headers}}</div>
  <h3>Params</h3><div>{{request.params}}</div>
  <h3>Query</h3></h4><div>{{request.query}}</div>
  <h3>Cookies</h3><div>{{request.cookies}}</div>
  <h3>Signed Cookies</h3><div>{{request.signedCookies}}</div>
  <button onclick="window.webView.webviewMessage('clicked from webview');")> Post Data </button>
  <a href="/users">Users</a>
  <br>
  <a href="http://www.express3.vm:3003/">Check IdP</a>
  <br>
  <a href="http://www.cj-nw-test.ci3.p2devcloud.com/">Test Link</a>
{% endblock %}
